*,
*::after,
*::before {
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
html,
body {
  color: #fff;
  font-size: 62.5%;
  font-weight: normal;
  background-image: linear-gradient(
    to right top,
    #060606,
    #050504,
    #030303,
    #020201,
    #000000
  );
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

.container {
  width: 130rem;
  margin: 0 auto;
}
.button {
  border-radius: 5rem;
  padding: 1rem 3rem;
  color: #ffffff;
}
.header__logo {
  display: block;
  width: 4rem;
  height: 4rem;
}
.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 10;
  padding: 4rem 11rem 4rem 8rem;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  align-items: center;
}
.header__btn {
  margin-left: 55.3rem;
  background: linear-gradient(#c89afc, #7c6afa);
  font-size: 1.6rem;
}
.header__nav a:not(:last-child) {
  margin-right: 7.1rem;
}
.header__nav a {
  font-size: 1.6rem;
}
.main-display__header {
  max-width: 76rem;
  margin-bottom: 5rem;
  font-size: 6.4rem;
}
.main-display .container {
  position: relative;
  z-index: 10;
}
.main-display {
  padding-top: 27rem;
}
.main-display__timer {
  display: flex;
  margin-bottom: 7.6rem;
}
.timer__item {
  width: 10.2rem;
  height: 11.2rem;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.timer__item:not(:last-child) {
  margin-right: 3rem;
}
.timer__count {
  font-size: 3.6rem;
}
.timer__text {
  font-size: 1.6rem;
  opacity: 0.4;
}
.main-display__button {
  background: linear-gradient(#df5950, #451046);
  font-size: 1.6rem;
}
.main-display-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
